@import url("https://fonts.googleapis.com/css2 ? family=Poppins: ital,wght@200;300;400;500;600;700&display=swap");
*.{
  font-family: 'popins',sans-serif;
}
body{
  background-image: url(p3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
}
.conatiner{
  width: 330px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0;
}
span{
  color: white;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
header{
  color: white;
  font-size: 38px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.input{
  height: 45px;
  width: 80%;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  padding: 0 0 0 45px;
  background: brown;
  outline: none;
}
.log{
  height: 45px;
  width: 90%;
  border: none;
  border-radius: 30px;
  color: black;
  font-size: 15px;
  padding: 0 0 0 45px;
  background: white;
  outline: none;
}
i{
  position: relative;
  top: -33px;
  left: 17px;
  color: white;
}
::-webkit-input-placeholder{
  color: white;
}
.submit{
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 87%;
  color: black;
  background: white;
  cursor: pointer;
}
.submit:hover{
  box.shadow: 1px 5px 7px 1px black;
}
.two-col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: small;
  margin-top: 10px;
}
.one{
  display: flex;
}
label a{
  text-decoration: none;
  color: white;
}
